
<html>
<head>
<title>Refugee Page</title>
<link rel="stylesheet" href="css/chat.css"/>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
</head>
<body>
	<section class="module">

		<header class="top-bar">

			<div class="left">
				<span class="icon typicons-message"></span>
				<h1>Send us a message</h1>
			</div>

			<div class="right">
				<span class="icon typicons-minus"></span> <span
					class="icon typicons-times"></span>
			</div>

		</header>

		<ol class="discussion" id="chat">
			<li class="other">
				<div class="avatar">
						
				</div>
				<div class="messages">
					<p>yeah, they do early flights cause they connect with big
						airports. they wanna get u to your connection</p>
					<time datetime="2009-11-13T20:00">Timothy • 51 min</time>
				</div>
			</li>
			<li class="self">
				<div class="avatar">
				</div>
				<div class="messages">
					<p>That makes sense.</p>
					<p>It's a pretty small airport.</p>
					<time datetime="2009-11-13T20:14">37 mins</time>
				</div>
			</li>
			<li class="other">
				<div class="avatar">
				</div>
				<div class="messages">
					<p>that mongodb thing looks good, huh?</p>
					<p>tiny master db, and huge document store</p>
				</div>
			</li>
		</ol>

	</section>
</body>
</html>